# Ignore everything
/*

# Add Gitignore
!.gitignore

# Add Docs
!/Docs

# Bin
!/bin
/bin/Debug/*
/bin/Release/*.pdb
/bin/Release/*.exe
/bin/Release/*.manifest
/bin/Release/*.application
/bin/Release/*.dll
/bin/Release/*.config
/bin/Release/app.publish/Application Files
/bin/Release/app.publish/*application
/bin/Release/app.publish/*setup.exe
/bin/Release/.vshistory*

# Allow: Classes
!/Classes*
/Classes/.vshistory*

# Allow: Controls
!/Controls*
/Controls/.vshistory*

# Allow: Forms
!/Forms*
/Forms/.vshistory*

# Allow: Materials
!/Materials*
/Materials/.vshistory*

# Allow: Properties
!/Properties*
/Properties/.vshistory*

# Allow: Exts
!*.csproj
!*.sln
!*.cs
!*.resx
!*.ico
!*.md